<script src="/js/script.js"></script>
<div class="footer">
  <div class="footer">
    <footer>&copy; WatchZone
      Contact us <br>
      Cell:+880180000111 /
      E-mail:Xclock@yahoo.net
    </footer>
  </div>
</div>