<div class="header">
  <nav class="sticky-nav">

    <div id="nav-menu">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/products">SHOP</a></li>
        <li><a href="/admin">ADMIN</a></li>
        <li><a href="/cart">CART</a></li>
      </ul>
      <form>
        <input type="search" id="foodSearch" placeholder="Search your Watch" aria-label="Search"
          oninput="filterFood()" />
        <button type="submit"><a href="#menu-section">Search</a></button>
      </form>
    </div>

  </nav>
</div>