<%- include('partials/head') %>


  <body class="container">
    <%- include('partials/header') %>

      <%- include('partials/message') %>

        <div class="body">
          <span style="color: chartreuse;">Welcome To</span>
          <h1 style="font-weight: 700;">WatchZone</h1>
          <h3 style="display: block ; font-style: italic ;">
            " our ultimate destination for two-wheeled freedom in <span
              style="color: rgb(157, 3, 252);">WatchZone</span>.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eaque exercitat
          </h3>

          <div class="btn-group">

            <button><a href="/products">SHOP</a></button>
          </div>
        </div>

        <%- include('partials/footer') %>
  </body>

  </html>