body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

.header {
  background-color: #fff;
  padding: 20px 0;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  margin-left: 20px;
}

#nav-menu ul {
  list-style-type: none;
}

#nav-menu ul li {
  display: inline;
  margin-right: 20px;
}

#nav-menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: rgb(243, 7, 42);
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #d32f2f;
}

button:active {
  background-color: #b71c1c;
}
